{% extends "user/base.html" %}
{% block detailresort %}
<h1>Thông tin Quản lý Resort</h1>

<h2>{{ manager.name }}</h2>
<p><strong>Email:</strong> {{ manager.user.email }}</p>
<p><strong>Địa chỉ:</strong> {{ manager.address }}</p>
<p><strong>Mô tả:</strong> {{ manager.description }}</p>
<h3>Hình ảnh của Quản lý Resort</h3>
{% if manager.images.all %}
    <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 10px;">
        {% for image in manager.images.all %}
            <img src="{{ image.image.url }}" alt="Ảnh quản lý" style="width: 200px; height: auto; border: 1px solid #ddd;">
        {% endfor %}
    </div>
{% else %}
    <p>Quản lý này chưa có ảnh nào.</p>
{% endif %}

<h3>Danh sách Resort Quản lý</h3>
{% if resorts %}
    {% for resort in resorts %}
        <div style="border: 1px solid #ccc; padding: 15px; margin-bottom: 20px;">
            <p><strong>Resort:</strong> {{ resort.name }}</p>
            <p><strong>Mô tả:</strong> {{ resort.description }}</p>
            <p><strong>Giá mỗi ngày:</strong> {{ resort.price_per_night|floatformat:0 }}K VNĐ</p>
            <p><strong>Loại Phòng :</strong> {{ resort.room_type_capacity }} Người/Phòng</p>
            <p><strong>Số phòng mỗi ngày :</strong> {{ resort.max_rooms }}</p>
            <p><strong>Điểm trung bình:</strong> {{ resort.get_average_rating }}</p>
            <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 10px;">
                {% for image in resort.images.all %}
                    <img src="{{ image.image.url }}" alt="Ảnh resort" style="width: 200px; height: auto; border: 1px solid #ddd;">
                {% endfor %}
            </div>
            <a href="{% url 'resort_detail' resort.id %}" class="btn btn-sm btn-info mt-2">Xem chi tiết</a>
        </div>
    {% endfor %}
{% else %}
    <p>Quản lý này chưa có resort nào.</p>
{% endif %}
{% endblock detailresort%}
