{% extends "user/base.html" %}
{% block hanoi %}
<form method="GET" action="{% url 'search_home' %}">
    <input type="text" name="search" placeholder="Tìm kiếm theo tên quản lý..." value="{{ query }}">
    <button type="submit">Tìm kiếm</button>
</form>
<!-- Nút chọn địa điểm -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
       Địa Điểm
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a href="{% url 'user_danang' %}" class="btn btn-primary">Đà Nẵng</a></li>
      <li><a href="{% url 'user_hanoi' %}" class="btn btn-primary">Hà Nội</a></li>
      <li><a href="{% url 'user_hcm' %}" class="btn btn-primary">TP Hồ Chí Minh</a></li>
    </ul>
  </li>
<h1>Danh sách resort ở Hà Nội</h1>

{% if resorts %}
    {% for resort in resorts %}
        <div style="border: 1px solid #ccc; padding: 15px; margin-bottom: 20px;">
            <h2><a href="{% url 'user_detail_resort' resort.manager.id %}">{{ resort.manager.name }}</a></h2>
            <p><strong>Quản lý:</strong> {{ resort.manager.name }}</p>
            <p><strong>Mô tả:</strong> {{ resort.description }}</p>
            <p><strong>Giá mỗi ngày:</strong> {{ resort.price_per_night|floatformat:0 }}K VNĐ</p>
            <p><strong>Loại Phòng : </strong> {{ resort.room_type_capacity }} Người/Phòng</p>
            <p><strong>Số phòng mỗi ngày:</strong> {{ resort.max_rooms }}</p>
            <p><strong>Điểm trung bình:</strong> {{ resort.get_average_rating }}</p>
            <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 10px;">
                {% for image in resort.images.all %}
                    <img src="{{ image.image.url }}" alt="Ảnh resort" style="width: 200px; height: auto; border: 1px solid #ddd;">
                {% endfor %}
            </div>

            <a href="{% url 'resort_detail' resort.id %}" class="btn btn-sm btn-info mt-2">Xem chi tiết</a>
        </div>
    {% endfor %}
{% else %}
    <p>Chưa có resort nào ở Hà Nội.</p>
{% endif %}
{% endblock hanoi%}
